<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class = "col-md-8">
      <div class="media">
          <div class="media-body">
            <h6 class="media-heading">
              <p><%= @post.user.name %></p>
              <p><%= comment.body %></p>
            </h6>
          </div>
      </div>

  </div>
<% end %>